.App {
  text-align: left;
}

.Lists-container {
  padding-left: 35.5em;
  padding-right: 10em;
  margin-top: -5em;
  margin-bottom:-5em;
}

.header {
  background-color: #ffffff;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: #020202;
}

label{
  font-size: calc(1px);
  color: #020202;
  font-size: calc(1px + 1vmin);
}

table {
  display: flex;
  justify-content: left;
  border: -1px solid black;
  /* opacity: 35%; */
  border-color:lightgray;
  border-collapse: collapse;

}

td {
  border: 1px solid  black;
  width: 12em;
  height: -15em;
  border: 1px solid #ddd;
  padding: 5px;
  font-size:13px;
  
}

/* t:nth-child(2n){ 
  background-color: #f2f2f2;
} */


